/* Basic Elements Changes */


.bg-transparent {
    background-color: rgba(48, 48, 48, 0.378)!important;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    
}
section{
    width: 100%;
}

hr{
    border-top: 1px solid rgba(243, 242, 242, 0.63);
}

.col-lg-6{
    padding: 0;
 }


 .col-lg-4{
    padding: 45px;
}

.pr-0, .px-0 {
    padding-right: 15px!important;
}


/* Javascript classes */

.grad_change{
    background: #fd746c;  
    background: -webkit-linear-gradient(to right, #ff9068, #fd746c); 
    background: linear-gradient(to right, #ff9068, #fd746c); 
    color: black;

}


/* NAVBAR */
.navbar{
    padding: 0.1rem 1.5rem;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.5rem 3rem;
}

.navbar-light .navbar-nav .nav-link  {
    color: white;
}

/* Navbar Brand */

.nav-brand, .psec2{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
}

.nav-brand{    
    letter-spacing: 0.1px;    
    margin-left: 90px;    
}

.nav-brand:hover{
    text-decoration: none;
    color: black;  
}

@media(max-width:1300px){
    .nav-brand{
        font-size: 2rem;
        font-weight: 100;
        margin: 0;
    }
}
@media(max-width:1100px){
    .nav-brand{
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0;
    }
}

/* Navbar Item */
.nav-item{
    font-size: 18px;
    letter-spacing: 2.5px;
}

/* NAVBAR END */

/* Image Below Navbar */
/* Section 1 */
img{
    width: 100%;
    /* height: 500px; */
}
.col-lg-12{
    padding: 0;
}



/* Section 2 */

#div_collg4_1{
    font-size: 20px;
    color: rgb(253, 229, 229);
 }

#sec2, #sec31, #sec32, #sec4{
    text-align: center;    
    color: rgb(233, 232, 232);
   
}

#sec2, #sec4{
    background-color: rgb(26, 26, 26);
    border-top: 3px solid  rgba(255, 0, 55, 0.651);
    border-bottom: 3px solid  rgba(255, 0, 55, 0.651);
  }


#sec2-mid{
    background-color: rgba(255, 192, 203, 0.37);
}

.image_top_tag{
    max-height: 600px;
}

.psec2{
    letter-spacing: 3.5px;
    text-align: center;
}

.form-control-file{
    width: 300px;
}


/* Section 3*/

#sec31, #sec32{
    width: auto;  
    overflow: hidden;
}

.back_grad{
background: #1a2a6c;  
background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); 
background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); 
}


#img_png, #imgg_png{
    height: 150px;
    width: auto;
}
#div_png, #div_pngg{
    padding-left: 100px;
    padding-right: 100px;
}

#img_sec3{
    width: 100%;
    height: 300px;
    overflow: hidden;
    
}

@media(max-width:989px){

    /* .bg-transparent {
        background-color: rgba(48, 48, 48, 0.81)!important;
    } */
    #img_sec3{
        height: auto;
        width: 100%;
    }
    .nav-brand{
        font-size: 3rem;
        font-weight: 100;
        margin: 0;
    }

    
}

@media(max-width:500px){
    #div_pngg, #div_png{
        padding: 3rem 4rem;
    }
    .nav-brand{
        font-size: 2rem;
        font-weight: 100;
        margin: 0;
    }

    img{
        min-height: 400px;
        overflow: hidden;

    }
}



/* Footer */
.page-footer{
    background-color: rgb(187, 187, 187);
   
}

.navbar-dark .navbar-toggler{
    border: 0;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.912);
}