/* Basic Elements Changes */

.bg-transparent {
    background-color: rgba(48, 48, 48, 0.378)!important;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    background-color: rgb(26, 26, 26);
    
}

hr{
    border-top: 2px solid white;
}

.col-lg-4{
    padding: 0;
}

.container-fluid{
    padding-left: 100px;
}

@media(max-width:1100px){
    .container-fluid{
        padding: 0;
    }
}

/* NAVBAR */
.navbar{
    padding: 0.1rem 1.5rem;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.5rem 3rem;
}

.navbar-light .navbar-nav .nav-link  {
    color: white;
}

/* Navbar Brand */

.display-4{
    letter-spacing: 5px;
    font-weight: lighter;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    
}


.nav-brand, .psec2{
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
}


.nav-brand{    
    letter-spacing: 0.1px;    
    margin-left: 50px;    
}

.nav-brand:hover{
    text-decoration: none;
    color: black;  
}

/* Navbar Item */
.nav-item{
    font-size: 18px;
    letter-spacing: 2.5px;
}

/* NAVBAR END */

/* Jumbotron */
.jumbotron{
    background: #1a2a6c; 
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); 
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    /* height: 100px; */
    padding-top: 160px;
    padding-bottom: 70px;
    color: seashell;
    font-weight: 100;
    text-align: center;
}

/* Author Card */
.btn{
    font-weight: 100;
}

.card{
    border: 0;
    background-color: rgba(26, 26, 26, 0);
    padding-right: 0;
}
.author{
    margin: auto;
    border: rgba(255, 192, 203, 0);
    color: white;
    text-align: center;
    padding-bottom: 0;
}

.author_img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/* Links below author card */

#prof_links{    
    list-style: none;    
}

#prof_links a{
    font-size: 20px;
    color: white;
    padding: 3px 5px;
}

#prof_links a:hover{
    font-weight: 800;
    text-decoration: none;
}

/* Form */
.form_info{
    background-color: rgba(255, 192, 203, 0.37);
    color: white;
    padding:100px 150px;
    margin-bottom: 80px;
}

@media(max-width:900px){
    .form_info{
        padding-right:50px ;
        padding-left:50px ;
    }
}




/* Footer */
.page-footer{
    background-color: rgb(187, 187, 187);
}





@media(max-width:505px){
    .nav-brand, .psec2{
        font-size: 1.8rem!important;
        margin: 0;
    }

    
    
}

@media(max-width:1250px){
    .nav-brand, .psec2{
        font-size: 2.5rem;
    }
    
    
}
@media(max-width:1250px){
    .navbar-expand-lg .navbar-nav .nav-link{
    padding: 0.5rem 1.5rem;

}

}
/* 
@media(max-width:1127px){
    .nav-brand, .psec2{
        font-size: 40px;
        margin: 0;
    }
    
} */

.navbar-dark .navbar-toggler{
    border: 0;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.912);
}


@media(max-width:989px){

    .bg-transparent {
        background-color: rgba(48, 48, 48, 0.81)!important;
    }
}